<div class="ui-body">
    <img id="headPic" src="../../image/tod.png" alt="">
    <div class="ui-main">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">昵称</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" v-model="UserInfo.nickName">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">身份证</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" v-model="UserInfo.idCard">
                </div>
            </div>
             <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">收货地址</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" v-model="UserInfo.address">
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>用户类型</p>
                </div>
                <div class="weui-cell__ft">{{UserInfo.type==1?'普通用户':'评测机构'}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>登录名</p>
                </div>
                <div class="weui-cell__ft">{{UserInfo.account}}</div>
            </div>
            <div class="weui-cell">
                
            </div>
            <a v-touch:tap="onSure" class="weui-btn weui-btn_primary">确定</a>
            <a v-touch:tap="onCancel" class="weui-btn weui-btn_warn">取消</a>
        </div>
    </div>
