<div class="weui-cells__title">订单信息地址</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">收货地址</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" v-model="address" type="text" placeholder="请输入地址">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">联系人</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" v-model="receiver" type="text" placeholder="请输入收件人">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">收货手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" v-model="receiverPhone" pattern="[0-9]*" placeholder="请输入手机号">
        </div>
    </div>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_switch">
        <div class="weui-cell__bd"><span class="ui-sellerPrice">￥{{price}} &nbsp;</span></div>
        <button class="weui-vcode-btn" v-touch:tap="onPayTap">立即支付</button>
    </div>
</div>
